::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #241468;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

.aktif {
  background-color: #fff;
  color: #241468;
  padding: 15px;
}

.ungu {
  background-color: #241468 !important;
  color: #fff !important;
}

.text-ungu {
  color: #241468 !important;
  transition: 0.2s;
}

.opacity {
  opacity: 0.5;
}

.opacity:hover {
  opacity: 1;
  background-color: #241468;
  transform: translateX(10px);
}

.sidebar {
  background-color: #241468 !important;
}

.left {
  border-left: 5px solid #241468 !important;
}

.pagination > li > a,
.pagination > li > span {
  color: #241468 !important;
}

.pagination > li :hover {
  background-color: #241468;
  color: #fff !important;
}

.pagination > li.active > a,
.pagination > li.active > span {
  background-color: #241468;
  color: #fff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-pills .nav-item .nav-link {
  color: black;
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #241468;
}

#karyawan {
  display: none;
}

.hover {
  transition: 0.2s;
}

.hover:hover {
  background-color: #241468;
  color: #fff;
  .text-ungu {
    color: #fff !important;
  }
}
